
  <div class="box">
  <div class="columns">

    <div class="column is-2">
  <%= image_tag customer.image %>
  </div>

  <h3><%= customer.full_name %></h3>
  <p>Phone:</strong> <%= customer.phone_number %></p>
  <% if customer.email.present? %>
  <p>Email:<%= customer.email%></p>
  <%else%>
  <p>Email: Not Specified.</p>
  <% end %>
  <p>Notes:<%= customer.notes %></p>

</div>
</div>
